<ion-view>
    <ion-nav-title>
        <span style="color: whitesmoke;">Create a New Account</span>
    </ion-nav-title>
    <ion-content>
        <br>
        <br>
        <br>
        <div>
            <label class="item item-input">
                <span class="input-label">Select Username</span>
                <input type="text" ng-model="un">
            </label>
        </div>
        <div>
            <label class="item item-input">
                <span class="input-label">Email Address</span>
                <input type="email" ng-model="em">
            </label>
        </div>
        <div>
            <label class="item item-input">
                <span class="input-label">Choose a Unique Password</span>
                <input type="password" ng-model="pw">
            </label>
        </div>
        <br>
        <br>
        <br>
        <div style="text-align: center;">        
            <button class="button button-assertive" ng-click="newAccount(un, em, pw)">
                Create Account
            </button>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable"></ion-footer-bar>
</ion-view>
